#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    margin: 0;
    color: rgb(252, 236, 8);
}
ul {
    margin: 0;
}
li {
    list-style: none;
}
.letras {
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
    text-align: center;
}

.letras .letras_b {
    width: 20%;
}
.letras .letras_b .letras_b_num li {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.letras .letras_b .letras_b_num label:nth-child(2) {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;

}

#rosa{
    background-color: rgb(233, 66, 255);
}
#rojo{
    background-color: red;
}
#amarillo{
    background-color: yellow;
}
#azul{
    background-color: blue;
}
#verde{
    background-color: green;
}

